/*
BUGS:
    HEIGHT NÃO RESPONSIVO - O PAI DEVE SE ADAPATAR AO FINAL
    GETCV NÃO RESPONSIVO
*/

html, body { height: 100%;}

body{
    background-color: #1C1C1C;
}
title, h5{
    font-family: 'Open Sans', sans-serif;

}

p.paragraph{
    margin: auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

#firstDiv{
    background: #1C1C1C;
    height: 100vh;
   /* position: absolute;bottom : 0px;*/
}

#secondDiv{
    background: #DCDCDC;
    /*height: 100%;*/
}

hr{
    background-color: #FFC0CB;
    margin: 0 5% 5% 5%;
}

#rotating{ 
    transform: rotate(90deg);
    text-align: center;
}

h6{
  font-size: 16px;
  font-weight: bold;
}

#status, #idade{
    color: #808080;
    margin: auto;
    text-align: center;
}

#skils{
  margin: auto;
  text-align: center;
  border-collapse: separate;
}

#imgDiv{
    padding-top: 33%;
}

#imgPerfil{
    border-radius: 50%;
    margin-bottom: 5%;
    width: 168px;
    height: 180px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0));
}

#divIcons{
    padding-right: 10%;
    text-align: center;
    margin-top: 10%;
    margin-left: 15%;

}

.imgIcons{
    width: 20px;
    height: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.imgIcons:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#statusIcon{
  width: 20px;
  height: 20px;
}

.linha-vertical {
    height: auto;/*Altura da linha*/
    border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #CD5C5C;
    margin: 0 5%;
}

#habilidades{
    justify-content: center;
}

.botao{
    background-color: #1C1C1C;
}

/*
PINK: FFC0CB
INDIANRED: #CD5C5C
CRIMSON: #DC143C
CINZA CLARO:  #808080
CINZA ESCURO: #1C1C1C

*/
/*
a:link, a:visited, a:active {
	text-decoration: none;
	}
a:hover {text-decoration: underline;  
	color:#000; 
	font-size:150%; 
	}

EFEITOS LINK

*/