/*
BUGS:
    HEIGHT NÃO RESPONSIVO - O PAI DEVE SE ADAPATAR AO FINAL
    GETCV NÃO RESPONSIVO
*/

html, body { height: 100%;}

body{
    background-image: url("../img/wpp.jpg");
}

title, h4, h6{
    font-family: 'Open Sans', sans-serif;

}

p.paragraph{
    margin: 2% 10%;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

p.paragraphCard{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.cardBody{
    background-color: #D3D3D3;
    height: 80%;
    width: 85%;
    opacity:0.8;
}

.cardBody:hover{
    opacity:1;
}

#firstDiv{
    background-image: url("/img/wpp.jpg");
    height: 100vh;
   /* position: absolute;bottom : 0px;*/
}

#secondDiv{
    background: #DCDCDC;
    /*height: 100%;*/
}

hr{
    background-color: #FFC0CB;
    margin: 0 5% 3% 5%;
}

#rotating{ 
    transform: rotate(90deg);
    text-align: center;
}

h6{
  font-size: 14px;
  font-weight: bold;
}

#status, #idade{
    color: #808080;
    margin: auto;
    text-align: center;
}

#skils{
  margin: auto;
  text-align: center;
  border-collapse: separate;
}

#imgDiv{
    padding-top: 33%;
}

#imgPerfil{
    border-radius: 50%;
    margin-bottom: 5%;
    width: 168px;
    height: 180px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0));
}

#divIcons{
    padding-right: 10%;
    text-align: center;
    margin-top: 10%;
    margin-left: 15%;

}

.imgIcons{
    width: 20px;
    height: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.imgIcons:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cardIcons{
    width: 36px;
    height: 36px; 
}


#statusIcon{
  width: 20px;
  height: 20px;
}

.linha-vertical {
    height: auto;/*Altura da linha*/
    border-left: 1px solid;/* Adiciona borda esquerda na div como se fosse uma linha.*/
    color: #CD5C5C;
    margin: 0 5%;
}

#habilidades{
    justify-content: center;
}

.botao{
    color: #D3D3D3;    
}

/*
PINK: #FFC0CB
INDIANRED: #CD5C5C
CRIMSON: #DC143C
CINZA:  #808080
CINZA CLARO: #D3D3D3
CINZA ESCURO: #1C1C1C

fontes:
http://www.erikasarti.com/html/tabela-cores/
https://superdevresources.com/html-resume-templates/
https://www.codeply.com/go/dI6CknFxts/bootstrap-4-timeline
*/
