html, body { height: 100%;}

body{
    background-image: url("../img/formas.jpg");
}

title, h4, h6{
    font-family: 'Open Sans', sans-serif;
}

/*CSS firstDiv */

#firstDiv{
    height: 100vh;
    position: relative;
    top: 0%;
    left: 0;
}

#status, #idade{
    color: #808080;
    margin: auto;
}

#imgDiv{
    padding-top: 33%;
}

#imgPerfil{
    border-radius: 50%;
    margin-bottom: 5%;
    width: 168px;
    height: 180px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0));
}

#divIcons{
    padding-right: 10%;
    text-align: center;
    margin-top: 10%;
    margin-left: 15%;

}

#statusIcon{
    width: 20px;
    height: 20px;
  }

.imgIcons{
    width: 20px;
    height: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.imgIcons:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* CSS secondDiv */

#secondDiv{
    background-color: #D3D3D3;
}

hr{
    background-color: #FFC0CB;
    margin: 0 5% 3% 5%;
}

p.paragraph{
    margin: 2% 10%;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

h6{
    font-size: 14px;
    font-weight: bold;
  }

p.paragraphCard{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.cardBody{
    background-color: rgba(255,255,255,0.7);
    margin-top: 15px;
    height: 80%;
    width: 85%;
    opacity:0.8;
}

.cardBody:hover{
    opacity:1;
}

.cardIcons{
    width: 36px;
    height: 36px; 
}

#habilidades{
    justify-content: center;
}

.botao{
    color: #D3D3D3;    
}

/*
----  CORES  ----
PINK: #FFC0CB
INDIANRED: #CD5C5C
CRIMSON: #DC143C
CINZA:  #808080
CINZA CLARO: #D3D3D3
CINZA ESCURO: #1C1C1C
*/